@import url(./hds.css);

body {
  font-family: 'NanumSquareNeo', sans-serif;
  font-size: 14px;
}

header {
  background: linear-gradient(90deg, #7530a6, #333295);
}

header .nav-link {
  border-radius: 20px;
  color: #fff;
}
header .nav-link.active {
  background-color: #fff;
  color: #272660;
}


footer {
  background-color: #272660;
  color: #fff;
  font-size: 11px;
  margin-top: 50px;
}

.nav-tabs .nav-link {
  border-radius: 0;
}
